.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
}

.ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -.25em;
	margin-right: 10px;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-widget-icon-block {
	left: 50%;
	margin-left: -8px;
	display: block;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 1.25em 2em;
	overflow: auto;
}


.ui-widget {
	font-size: 1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}

.ui-icon {
	width: 24px;
	height: 24px;
}

.ui-icon-triangle-1-e { 
	background: url("right.svg");
	transition: all 0.1s linear;
}

.ui-icon-triangle-1-s { 
	background: url("bottom.svg");
	transition: all 0.1s linear;
}

.fucsia .ui-icon-triangle-1-e { 
	background: url("right-white.svg");
	transition: all 0.1s linear;
}

.fucsia .ui-icon-triangle-1-s { 
	background: url("bottom-white.svg");
	transition: all 0.1s linear;
}

.demoHeaders {
	margin-top: 2em;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

select {
	width: 200px;
}	

.ui-widget-content {
	margin-bottom: .5em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	background: #f9f9f9;
}

.fucsia.ui-state-default,
.fucsia.ui-widget-content .ui-state-default,
.fucsia.ui-widget-header .ui-state-default,
.fucsia.ui-button,

html .fucsia.ui-button.ui-state-disabled:hover,
html .fucsia.ui-button.ui-state-disabled:active {
	background: #ff009b;
	color: #ffffff;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	text-decoration: none;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #ececec;
}

.fucsia.ui-state-active,
.fucsia.ui-widget-content .ui-state-active,
.fucsia.ui-widget-header .ui-state-active,
.fucsia a.ui-button:active,
.fucsia.ui-button:active,
.fucsia.ui-button.ui-state-active:hover {
	background: #d30088;
}

#accordion {
	text-align: justify;
}

#accordion .align_right {
	text-align: right;
}


#accordion figure {
	margin: 0;
}

#accordion .accordion-description figure, #accordion .accordion-assemble figure {
	width: 100%;
	margin: 0 auto;
}

#accordion .accordion-description figure *{
	display: block;
}

#accordion .accordion-description figure img.logo {
	width: 225px;
	display: inline-block;
	vertical-align: middle;
}

#accordion .accordion-description figure img.clasification {
	width: 125px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -webkit-calc(100% - 400px);
	margin-left: -moz-calc(100% - 400px);
	margin-left: -o-calc(100% - 400px);
	margin-left: calc(100% - 400px);
}

#accordion .accordion-description figure img.centered {
	margin: 0 auto;
}

#accordion .accordion-description img.banner {
	width: 100%;
	height: auto;
	margin: 1.5em auto 0 auto;
}

#accordion .accordion-description figure.icon{
	width: 15%;
	display: inline-block;
	margin: 1em 0;
}

#accordion .accordion-description figure.icon img{
	width: 100%;
	height: auto;
}

#accordion .accordion-assemble figure {
	display: block;
}

#accordion .accordion-assemble figure img{
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}

#accordion .accordion-assemble figure figcaption{
	width: 65%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
}

#accordion .accordion-features-table {
	width:  90%;
	margin: 0 auto;
	display: block;
    clear: both;
}

#accordion .accordion-features-table hr {
	height: 1px;
	border-width: 0;
	color: #cccccc;
	background-color: #cccccc;
}

#accordion .accordion-features-table hr:first-of-type {
	height: 2px;
}

#accordion .accordion-features-table .attribute {
	width: 30%;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

#accordion .accordion-features-table .details {
	width: 60%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

#accordion .accordion-features-table h4 {
	color: #00b0eb;
	text-transform: uppercase;
}

#accordion .accordion-features-special figure {
	width: 100%;
	border-top: 1px solid #cccccc;
	padding-top: 1em;
	margin: 0 auto 1em;
}

#accordion .accordion-features-special figure:first-of-type {
	border-top: 0;
}

#accordion .accordion-features-special figure * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 .5%;
}


#accordion .accordion-features-special figure img {
	width: 15%;
}

#accordion .accordion-features-special figure figcaption {
	width: 45%;
}

#accordion .accordion-features-special-02 figure {
	width: 45%;
	display: inline-block;
	margin: 1em 2%;
}

#accordion .accordion-features-special-02 figure * {
	display: inline-block;
	vertical-align: middle;
}

#accordion .accordion-features-special-02 figure img {
	width: 55%;
}

#accordion .accordion-features-special-02 figure figcaption {
	width: 40%;
	margin-left: 2.5%;
}

#accordion .accordion-features-special-03 {
	text-align: center;
}

#accordion .accordion-features-special-03 figure {
	width: 27.5%;
	display: inline-block;
	margin: 1em 2%;
	vertical-align: top;
}

#accordion .accordion-features-special-03 figure *{
	display: block;
}

#accordion .accordion-features-special-03 figure img{
	width: 60%;
	margin: 0 auto .5em auto;
}

#accordion .accordion-dimensions div {
	width: 90%;
	border-top: 1px solid #cccccc;
	padding-top: 1em;
	margin:  0 auto 3em;
}

#accordion .accordion-dimensions div:first-of-type { 
	border-top: 0;
}

#accordion .accordion-dimensions div h4 {
	text-transform: uppercase;
	margin-bottom: 2em;
}

#accordion .accordion-dimensions figure {
	width: 22.5%;
	display: inline-block;
	margin: 0 auto;
}

#accordion .accordion-dimensions figure img {
	width: 100%;
	height: auto;
	margin: 0;
}

#accordion .accordion-dimensions figcaption {
	text-align: center;
	font-weight: bold;
}

#accordion .accordion-list ul {
	display: block;
    list-style-type: circle;
    margin: 0 5%;
}

#accordion .image img{
	width: 100%;
}

@media screen and (max-width: 768px) {
	#accordion .accordion-description figure img.clasification {
		margin-left: -webkit-calc(100% - 400px);
		margin-left: -moz-calc(100% - 400px);
		margin-left: -o-calc(100% - 400px);
		margin-left: calc(100% - 400px);
	}

	#accordion .accordion-description figure.icon{
		width: 30%;
	}

	#accordion .accordion-assemble figure img{
		width: 40%;
	}

	#accordion .accordion-assemble figure figcaption{
		width: 55%;
		float: right;
	}

	#accordion .accordion-features-table .attribute{
		width: 40%;
	}

	#accordion .accordion-features-table .details{
		width: 50%;
	}

	#accordion .accordion-features-special figure * {
		margin: 1em .5%;
	}

	#accordion .accordion-features-special figure img{
		width: 30%;
	}

	#accordion .accordion-features-special figure figcaption {
		width: 100%;
	}

	#accordion .accordion-features-special-02 figure {
		width: 100%;
	}

	#accordion .accordion-features-special-03 figure {
		width: 75%;
	}

	#accordion .accordion-features-special-03 figure img{
		width: 45%;
	}

	#accordion .accordion-dimensions figure {
		width: 60%;
		margin: 2em 10%;
	}
}